@font-face {
  font-family: $font-base-family;
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: $font-base-family;
  src: url("../fonts/NotoSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: $font-base-family;
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: $font-base-family;
  src: url("../fonts/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
