<main class="main">
  <div class="search">
    <form class="search__form">
      <div class="search__form__control">
        <label class="search__form__control__label" for="keyword"
          >Search by Patient</label
        >
        <input
          class="search__form__control__input"
          type="text"
          name="keyword"
          id="keyword"
          placeholder="Patient name"
        />
        <div class="search__form__control__error">
          <p><span>[Field Name]</span> cannot contain any special characters</p>
        </div>
      </div>
      <button class="search__form__btn-submit" type="submit">Search</button>
    </form>

    <div class="search__result">
      <span class="search__result__title">Current searches</span>
      <ul class="search__result__list">
        <li class="search__result__list__item">John</li>
        <li class="search__result__list__item">John</li>
        <li class="search__result__list__item">John</li>
        <li class="search__result__list__item">John</li>
        <li class="search__result__list__item">John</li>
        <li class="search__result__list__item">John</li>
        <li class="search__result__list__item">John</li>
        <li class="search__result__list__item">John</li>
        <li class="search__result__list__item">John</li>
      </ul>
    </div>
  </div>
</main>
